<ion-content fullscreen="true" class="color-grey ion-padding">

  <ion-row class="ion-margin">
    <ion-text color="primary">
      <h2>Mes chargements</h2>

    </ion-text>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-searchbar color="white" placeholder="cherche un chargement" mode="ios"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-list class="ion-padding-horizontal">

    <ion-item lines="none" class="red-shadow" (click)="home()">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary" >Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>
      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>
    </ion-item>

    <ion-item lines="none" class="green-shadow">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary" >Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>

      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>

    </ion-item>

    <ion-item lines="none" class="green-shadow">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary" >Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>

      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>

    </ion-item>

    <ion-item lines="none" class="green-shadow">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary" >Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>

      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>

    </ion-item>

    <ion-item lines="none" class="green-shadow">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary">Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>

      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>

    </ion-item>

    <ion-item lines="none" class="green-shadow">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary" >Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>

      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>

    </ion-item>

    <ion-item lines="none" class="green-shadow">
      <ion-col size="2" class="ion-no-padding">
        <ion-label color="primary" >Agadir</ion-label>
        <ion-label color="medium">27/05</ion-label>
      </ion-col>

      <ion-col size="5" class="display-inline">
        <div class="dot"></div>
        <ion-progress-bar value="0.4" color="primary" class="ion-margin-top"></ion-progress-bar>
        <div class="dot"></div>
      </ion-col>

      <ion-col size="2">
        <ion-label color="primary" >Berlin</ion-label>
        <ion-label color="medium">20/06</ion-label>
      </ion-col>
      <ion-col size="3" class="side">
        <ion-label color="medium">Les Domaines</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/pallet.svg"> 30 Palette</ion-label>
        <ion-label color="medium"> <img src="../../../assets/icon/svg/assignment-late.svg"> Tomates</ion-label>
      </ion-col>

    </ion-item>
  </ion-list>
</ion-content>