ion-content {
    background: #F2F4F3 !important;
    --background: #F2F4F3 !important;
}


ion-list {
    background: transparent !important;
    --background: transparent !important;
    --background-color: transparent !important;

    .red-shadow{
        -webkit-box-shadow: 8px 4px 7px 0px rgba(247,78,35,0.36);
        -moz-box-shadow: 8px 4px 7px 0px rgba(247,78,35,0.36);
        box-shadow: 8px 4px 7px 0px rgba(247,78,35,0.36);
    }
    .green-shadow{
        -webkit-box-shadow: 8px 4px 7px 0px rgba(93,183,42,0.52);
        -moz-box-shadow: 8px 4px 7px 0px rgba(93,183,42,0.52);
        box-shadow: 8px 4px 7px 0px rgba(93,183,42,0.52);
    }

    ion-item {
        margin-bottom: 10px;
        border-radius: 5px;
        
        ion-label{
            font-size: small;
        }
        .dot {
            height: 10px;
            width: 11px;
            border-radius: 50%;
            background-color: var(--ion-color-medium);

        }

        .display-inline {
            display: inline-flex;
        }

        ion-progress-bar {
            margin: 4px 5px 0
        }
        .side{
            border-left: 1px solid #DDDDDD;
            ion-label{
                font-size: 8px;
            }
        }
    }
}