<ion-content fullscreen="true" class="ion-padding">

  <ion-row class="ion-margin ion-padding-bottom bb">
    <ion-col size="5" class="ion-no-padding">
      <ion-label color="primary" class="name"><b> Client xxx</b></ion-label><br>
      <ion-label color="medium">21548D25</ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label color="medium">Tomates</ion-label><br>
      <ion-label color="medium">30 Palette</ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-label color="medium">N°T : 212154</ion-label><br>
      <ion-label color="medium">N°R : 212154</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin ion-padding-bottom bb detail">
    <ion-col size="1">
      <img src="../../../assets/icon/svg/red-pin.svg">
    </ion-col>
    <ion-col size="7" class="ion-no-padding">
      <ion-text>
        <h1><b>AGADIR</b></h1>
      </ion-text>
      <ion-label color="medium">64, boulevard Ain Taoujtate. </ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-right date">
      <ion-label color="medium">25/05</ion-label><br>
      <ion-label color="medium">07:00</ion-label>
    </ion-col>
  </ion-row>


  <ion-row class="ion-margin ion-padding-vertical bb">
    <ion-col size="8" offset="2">
      <ion-button expand="block" shape="round" color="danger" (click)="showPopper()">
        <img src="../../../assets/img/truck-koraj.png">
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin ion-padding-bottom ion-text-center">
    <ion-col size="4">
      <img src="../../../assets/icon/svg/blue-file.svg"><br>
      <p>BMQ</p>
    </ion-col>
    <ion-col size="4">
      <img src="../../../assets/icon/svg/file-upload.svg"><br>
      <p>BL/CMR</p>
    </ion-col>
    <ion-col size="4">
      <img src="../../../assets/icon/svg/file-upload.svg"><br>
      <p>Fiche  de traçabilité</p>
    </ion-col>
  </ion-row>

</ion-content>